/config/config_db.php
/config/config_captcha.php

/vendor/gabordemooij/
/vendor/squizlabs/
/vendor/swiftmailer/
/vendor/symfony/
/vendor/vlucas/

/.idea/

/composer.lock

/public/tmp/

/vendor/doctrine/
/vendor/egulias/
